body{
margin:0;
background:#d9d9d9;
}

/* Main Layout */

.container{
display:grid;
grid-template-columns:200px 1fr 200px;
height:100vh;
align-items:center;
}

/* Left and Right Columns */

.side{
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
height:90%;
}

/* Middle Boxes */

.middle{
display:flex;
justify-content:center;
gap:120px;
}

/* Yellow Boxes */

.box{
width:120px;
height:120px;
background:yellow;
border:5px solid black;
}